nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
nav ul {
  text-align: left;
  background-color: #2f2f28;
}

li {
  display: inline-block;
  margin: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

a {
  color: #f0eff0;
  text-decoration: none;
}

#welcome-section {
  background: url(https://images.pexels.com/photos/34124/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f0eff0;
}
h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #f0eff0;
  line-height: 1;
  text-align: center;
  margin-top: auto;
  border-top: 3px solid #2f2f28;
  padding-top: 0.5em;
  border-bottom: 3px solid #2f2f28;
}
span {
  display: block;
  color: #af1c1c;
  font-size: 5em;
}
@media (min-width: 50em) {
  h1 {
    font-size: 3vw;
  }
}
footer {
  background-color: #2f2f28;
  color: #f0eff0;
  height: 20vh;
  padding: 20px;
  text-align: center;
}
body {
  background-color: #f0eff0;
  font-family: 'Roboto', sans-serif;
}

span {
  display: block;
  color: #af1c1c;
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
}
@media (min-width: 50em) {
  .welcome-title {
    font-size: 3vw;
  }
}
.about-title {
  display: block;
  color: #af1c1c;
  font-size: 5em;
  font-family: 'Oswald', sans-serif;
}

.about-me {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.about-img {
  max-height: 35em;
  margin-right: 1em;
  margin-left: 0.5em;
}

.about-title {
  margin-bottom: 0.25em;
}
.about-subtitle {
  margin: 0.5em 0;
  font-weight: 900;
}
@supports (display: grid) {
  .about-me {
    display: grid;
    grid-template-columns:
      [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr)
      [img-end] 2fr [port-end];
  }
  .about-img {
    grid-column: port / img;
    grid-row: 1 / 2;
  }
  .about-title {
    grid-column: name / port;
    grid-row: 1 / 2;
    align-self: end;
  }
  .about-subtitle,
  .about-text {
    grid-column: port / port;
  }
}
.intro {
  display: flex;
  background-color: #2f2f28;
  border: 1px solid #f0eff0;
  color: #f0eff0;
}
.intro-title {
  font-weight: 900;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: right;
  border-right: 1px solid #f0eff0;
}
.intro-body {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer {
  background: #2f2f28;
  padding: 1em 0;
  text-align: center;
  color: #f8f5f2;
  max-width: 100%;
}
.copyright {
  display: block;
  height: 1px;
  background: rgba(#f0eff0, 0.25);
  margin: 2em auto;
  width: 100%;
}
p.copyright::before {
  content: '';
  display: block;
  height: 1px;
  background: #f0eff0;
  margin: 5px auto;
  width: 25%;
}
