body {
  font-family: Times New Roman;
  background-color: silver;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
h1 {
  font-size: 100px;
  font-family: Trattatello, fantasy;
  background: lightgray;
  border: 1px solid black;
  padding: 5px;
}

h2 {
  font-family: Trattatello, fantasy;
}
.close {
  font-family: serif;
  color: black;
  font-size: 16px;
}
img {
  width: 100%;
  height: auto;
}
#img-div {
  padding: 2.5em;
  border: 1px solid #021a40;
  background-color: lightgray;
}
div {
  margin-top: 15px;
}
p {
  text-align: justify;
}
footer {
  background: lightgray;
  padding: 10px;
}
